<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/icon_smart_lock_main"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icon_smart_lock_main"
        android:supportsRtl="true"
        android:theme="@style/Theme.FInal"
        tools:targetApi="31">
        <activity
            android:name=".login.SignInActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:parentActivityName=".login.SignInActivity" android:name=".MainActivity"/>
        <activity android:parentActivityName=".login.SignInActivity" android:name=".login.forgotPassWord" />
        <activity android:parentActivityName=".login.SignInActivity" android:name=".login.SignUp1Activity" />
        <activity android:parentActivityName=".login.SignInActivity"  android:name=".login.SignUp2Activity" />
        <activity android:parentActivityName=".login.SignInActivity" android:name=".login.SignUp3Activity" />
        <activity android:parentActivityName=".login.SignInActivity" android:name=".login.verifyOTP" />
        <activity android:parentActivityName=".login.SignInActivity" android:name=".login.resetPassword" />
        <activity android:parentActivityName=".login.SignInActivity" android:name=".login.VerifyOTPActivity" />
    </application>

</manifest>